{
  "parser": "babel-eslint",
  "extends": "atom-build",
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
  },
  "rules": {
    "consistent-return": 0,
    "no-console": 0
  }
}
